@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@layer base {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    direction: ltr;
    text-align: left;
  }
  
  body {
    background-color: #f9fafb;
    color: #111827;
  }

  #root {
    min-height: 100%;
    direction: ltr;
    text-align: left;
  }
}
